BasedOnStyle: LLVM
Language: Cpp
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: MultiLine
  AfterEnum: true
  AfterFunction: true
  AfterClass: true
  AfterNamespace: true
  AfterStruct: true
  BeforeElse: true
  SplitEmptyFunction: false

AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: AlwaysBreak
BinPackParameters: false
BinPackArguments: false

AllowAllConstructorInitializersOnNextLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
PackConstructorInitializers: NextLine

AllowShortLambdasOnASingleLine: None
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BreakBeforeBinaryOperators: NonAssignment

MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

IndentWrappedFunctionNames: true
ReflowComments: false
AlignTrailingComments:
  Kind: Leave